@model IEnumerable<Excluidos>

@{
    ViewData["Title"] = "Excluidos";
}
@section Estiloss{
    <link href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" />

}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="Espacio-Container">
        <div class="BotonCargar-Container">
        </div>
        <form asp-controller="MantenedorExcluidos" method="post" class="row g-3" style="display: flex; justify-content: center; align-items: center; position: relative; bottom:11px;">
            <div class="col-auto">
                <label for="LabelBuscar2" class="visually-hidden">Buscar por: </label>
                <label readonly class="form-control-plaintext" id="LabelBuscar1" value="Buscar por: ">Buscar por:</label>
            </div>
            <div class="col-auto">
                <label for="Cedula" class="visually-hidden">Cedula</label>
                <input type="text" class="form-control" name="cedula" placeholder="Cedula" required>
            </div>
            <div class="col-auto">
                <label for="Motivo" class="visually-hidden">Motivo</label>
                <input type="text" class="form-control" name="motivo" placeholder="Motivo">
            </div>
            <div class="col-auto">
                <label for="Fecha" class="visually-hidden">Fecha</label>
                <input type="text" class="form-control" name="fecha" placeholder="Fecha">
            </div>
            <div class="col-auto" style="position: relative; top: 8px;">
                <button type="submit" class="btn btn-primary mb-3" asp-action="Buscar">Buscar</button>
            </div>
            <div class="col-auto" style="position: relative; top: 8px;">
                <a class="btn btn-warning mb-3" asp-action="Guardar" asp-controller="MantenedorExcluidos">Insertar nuevo registro</a>
            </div>
        </form>
        <div class="card">
            <div class="card-body">
                <table id="examples" class="table" style="width:100%" ">
                    <thead>
                        <tr>
                            <th>Cedula</th>
                            <th>Motivo </th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Cedula</td>
                            <td>@item.Motivo</td>
                            <td>@item.Fecha</td>
                            <td>
                                <a asp-action="editar" asp-controller="MantenedorExcluidos" class="btn btn-success btn-sm" asp-route-idExcluidos="@item.IdExcluidos">editar</a>
                                <a asp-action="eliminar" asp-controller="MantenedorExcluidos" class="btn btn-danger btn-sm" asp-route-idExcluidos="@item.IdExcluidos">eliminar</a>
                            </td>
                        </tr>

                        }
                    </tbody>
                </table>
            </div>
            <a href="/Home/index" style="text-decoration:none; position: relative; bottom:5px;"><button class="btn btn-warning">Volver al menu principal</button></a>
        </div>
        <div class="col-auto" style="position: relative; top: 8px; left:555px; ">
            <a class="btn btn-danger mb-3" asp-controller="MantenedorExcluidos" asp-action="Limpiar">Limpiar Registro</a>
            <a class="btn btn-success mb-3" asp-controller="MantenedorExcluidos" asp-action="GenerarArchivo" methop="post">Generar arhivo .txt</a>
        </div>
    </div>
</div>

    @section scripts{
    <link src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js" />
        @*<script src="~/lib/dt/dtlistar.js"></script>*@
    <script>
        $(document).ready(function () {
            $('#examples').DataTable();
        });
    </script>
     }

