@model IEnumerable<Excluidos>

@{
    ViewData["Title"] = "Excluidos";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div class="Espacio-Container">
        <div class="BotonCargar-Container">
        </div>
        <form asp-controller="MantenedorExcluidos" method="post" class="row g-3" style="display: flex; justify-content: center; align-items: center; position: relative; bottom:11px;">
            <div class="col-auto">
                <label for="LabelBuscar2" class="visually-hidden">Buscar por: </label>
                <label readonly class="form-control-plaintext" id="LabelBuscar1" value="Buscar por: ">Buscar por:</label>
            </div>
            <div class="col-auto">
                <label for="Cedula" class="visually-hidden">Cedula</label>
                <input type="text" class="form-control" name="cedula" placeholder="Cedula">
            </div>
            <div class="col-auto">
                <label for="Motivo" class="visually-hidden">Motivo</label>
                <input type="text" class="form-control" name="motivo" placeholder="Motivo">
            </div>
            <div class="col-auto">
                <label for="Fecha" class="visually-hidden">Fecha</label>
                <input type="text" class="form-control" name="fecha" placeholder="Fecha">
            </div>
            <div class="col-auto" style="position: relative; top: 8px;">
                <button type="submit" class="btn btn-primary mb-3" asp-action="Buscar">Buscar</button>
            </div>
            <div class="col-auto" style="position: relative; top: 8px;">
                <button type="submit" class="btn btn-warning mb-3" asp-action="Guardar">Insertar nuevo registro</button>
            </div>
        </form>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Cedula</th>
                            <th>Motivo </th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Cedula</td>
                                <td>@item.Motivo</td>
                                <td>@item.Fecha</td>
                                <td>
                                    <a asp-action="Editar" asp-controller="MantenedorExcluidos" class="btn btn-success btn-sm" asp-route-idExcluidos="@item.IdExcluidos">Editar</a>
                                    <a asp-action="Eliminar" asp-controller="MantenedorExcluidos" class="btn btn-danger btn-sm" asp-route-id_add="@item.IdExcluidos">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <a href="/Home/index" style="text-decoration:none; position: relative; bottom:5px;"><button class="btn btn-warning">Volver al menu principal</button></a>
        </div>
    </div>
</div>
