@model IEnumerable<ProyectoADESS.Models.ClassAdd>

@{
    ViewData["Title"] = "Buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Cedula</th>
                    <th>Apellidos </th>
                    <th>Nombre</th>
                    <th>Sub</th>
                    <th>Monto</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Cedula_add</td>
                        <td>@item.Apellido</td>
                        <td>@item.Nombre</td>
                        <td>@item.Sub</td>
                        <td>@item.Monto</td>
                        <td>@item.Fecha_add</td>
                        <td>
                            <a asp-action="Editar" asp-controller="MantenedorIncluidos" class="btn btn-success btn-sm" asp-route-id_add="@item.Id_add">Editar</a>
                            <a asp-action="Eliminar" asp-controller="MantenedorIncluidos" class="btn btn-danger btn-sm" asp-route-id_add="@item.Id_add">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a href="/MantenedorIncluidos/Listar" style="text-decoration:none; display:flex; justify-content:center; position: relative; bottom:5px;"><button class="btn btn-warning">Volver al Listado</button></a>
</div>
