@model IEnumerable<ClassAdd> 


@{
    ViewData["Title"] = "Incluidos";
}



        <form asp-controller="MantenedorIncluidos" method="post" class="row g-3" style="display: flex; justify-content: center; align-items: center; position: relative; bottom:11px;" asp-action="" asp-controller="" enctype="multipart/form-data">
            <div class="col-auto">
                <label for="LabelBuscar2" class="visually-hidden">Buscar por: </label>
                <label readonly class="form-control-plaintext" id="LabelBuscar1" value="Buscar por: ">Buscar por:</label>
            </div>
            <div class="col-auto">
                <label class="visually-hidden">Cedula</label>
                <input type="number" class="form-control" id="cedula_id" name="cedula" placeholder="Cedula">
            </div>
            <div class="col-auto">
                <label class="visually-hidden">Nombre</label>
                <input name="nombre" type="text" class="form-control" id="nombre_id" placeholder="Nombre">
            </div>
            <div class="col-auto">
                <label class="visually-hidden">Apellido</label>
                <input name="apellido" type="text" class="form-control" id="apellido_id" placeholder="Apellido">
            </div>
            <div class="col-auto" style="position: relative; top: 8px;">
                <button type="submit" class="btn btn-primary mb-3" asp-action="Obtener"> Buscar</button>
            </div>
            <div class="col-auto" style="position: relative; top: 8px;">
                <button type="submit" class="btn btn-warning mb-3" asp-action="Guardar">Insertar nuevo registro</button>
            </div>
            <div class="col-auto" style="position: relative; top: 8px;">
                <button type="submit" class="btn btn-secondary mb-3">Generar arhivo .txt</button>
            </div>
        </form>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Cedula</th>
                            <th>Apellidos </th>
                            <th>Nombre</th>
                            <th>Sub</th>
                            <th>Monto</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Cedula_add</td>
                                <td>@item.Apellido</td>
                                <td>@item.Nombre</td>
                                <td>@item.Sub</td>
                                <td>@item.Monto</td>
                                <td>@item.Fecha_add</td>
                                <td>
                                    <a asp-action="Editar" asp-controller="MantenedorIncluidos" class="btn btn-success btn-sm" asp-route-id_add="@item.Id_add">Editar</a>
                                    <a asp-action="Eliminar" asp-controller="MantenedorIncluidos" class="btn btn-danger btn-sm" asp-route-id_add="@item.Id_add">Eliminar</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <a href="/Home/index" style="text-decoration:none; text-decoration:none; position: relative; bottom:5px;"><button class="btn btn-warning">Volver al menu principal</button></a>
        </div>
